<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover on SoundCloud</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container left">
                <a href="/">
                    <div class="nav-logo">
                        <img src="../static/images/logo.png" alt="">
                        <img src="../static/images/wordmark.png" alt="">
                    </div>
                </a>
                <ul>
                    <li class="nav-list-item home">
                        <a class="home" href="/">Home</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/">Stream</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/">Library</a>
                    </li>
                </ul>
            </div>
            <div class="nav-container middle">
                <form class="search">
                    <input class="search_input"" type="search" placeholder="Search for artists, bands, tracks, podcasts">
                    <button class="search_submit">Search</button>
                </form>
            </div>
            <div class="nav-container right">
                <div class="loginMenu">
                    <button class="button login">Sign in</button>
                    <button class="button signup">Create Account</button>
                </div>
                <div class="nav-upload">
                    <a href="" class="upload">Upload</a>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>