{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="content">
        <div class="main">
            <div class="content">
                <ul>
                    <li class="item">
                        <div class="itemWrap">
                            <div class="item_title">
                                <h2>Charts: Top 50</h2>
                                <p>The most played tracks on SoundCloud this week</p>
                            </div>
                            <div class="itme_gallery">
                                <div class="item_slider">
                                    <div class="item_artwork"></div>
                                    <div class="item_description"></div>
                                </div>
                                <div class="item_slider">
                                    <div class="item_artwork"></div>
                                    <div class="item_description"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="sidebar">
            <div class="content">
                <div class="mobileApps"></div>
                <div class="footer"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}