* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background: #333;
    width: 100%;
    height: 46px;
    position: fixed;
    font-size: 14px;
    font-family: Interstate, Lucida Grande, Arial, sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 1240px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f70, #f30);
    width: 184px;
    height: 46px;
}

.nav-list-left {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-list-item {
    width: 104px;
    height: 46px;
    padding: 12px 0;
    color: #999;
    border-right: 1px solid #111;
    text-align: center;
    line-height: 1.5;
}

.nav-list-item a {
    color: #ccc;
}

.nav-list-item a:hover {
    color: #eee;
}

.home {
    color: #fff!important;
    background-color: #111;
    border-bottom: none;
}

.middle {
    flex: 1;
    display: block;
}

.search {
    position: relative;
    padding: 9px 10px 8px;
}

.search_input {
    color: #666;
    outline: 0;
    border: 0;
    padding: 5px 7px;
    background-color: #e5e5e5;
    width: 100%;
    height: 28px;
    transition: all .3s ease-in-out;
    border-radius: 4px;
}

.search_input::placeholder {
    color: #999;
}

.search_input:focus {
    background-color: #fff;
}

.search_input::-webkit-search-decoration,
.search_input::-webkit-search-cancel-button,
.search_input::-webkit-search-results-button,
.search_input::-webkit-search-results-decoration{
	display:none;
}

.search_submit {
    position: absolute;
    top: 15px;
    right: 20px;
    background: url(../images/search.svg) no-repeat;
    width: 15px;
    height: 15px;
    border: 0;
    padding: 0;
    color: transparent;
    cursor: pointer;
}

.loginMenu {
    padding: 9px 10px 10px;
}

.button {
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 11px 2px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

.login {
    border-color: #666;
    background-color: transparent;
    color: #fff;
    margin-right: 10px;
}

.loginButton:hover {
    border-color: #999;
}

.signup {
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    margin-left: 8px;
}

.upload {
    padding: 12px 10px;
    margin: 0;
    color: #ccc;
    line-height: 1.5;
}

.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbtn {
    color: #666;
    background-color: transparent;
    padding: 12px 0;
    width: 46px;
    height: 46px;
    border: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 46.01px;
    left: 1201.6px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 170px;
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    border-bottom: 1px solid #f2f2f2;
}

.dropdown-content a {
    color: #333;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #111;
}

/* discover.html */

.main {
    padding: 46px 30px;
    width: 1180px;
    height: 700px;
    margin: 0 auto;
}

.main_content {
    padding: 30px 30px 0 0;
    margin: 0 330px 0 0;
    border-right: 1px solid #f2f2f2;
}

.main_content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* 모바일용 */

@media only screen and (max-width: 400px) {

}

/* 태블릿용 */

@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* 데스크탑용 */

@media only screen and (min-width: 1240px) {

}